.container {
  margin-right: auto;
  margin-left: auto;
  width: 500px;
  border: 5px solid grey;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item {
  margin: 10px;
  display: flex;
  align-items: center;
}

.text {
  display: inline-block;
}

.btn {
  margin-left: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  margin: 15px;
}
