@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
  border: 1px solid rgba(117, 156, 123, 0.3);
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

.item {
  margin: 10px;
  display: flex;
  align-items: center;
}

.text {
  display: inline-block;
}

.btn {
  margin-top: 10px;
  margin-left: 12px;
  padding: 10px 29px;

  border: 1px solid rgba(202, 44, 255, 0.762);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: rgba(202, 44, 255, 0.762);
}

.btnDelete {
  margin-left: 12px;
  padding: 3px 6px;

  border: 1px solid rgba(202, 44, 255, 0.762);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnDelete:hover,
.btnDelete:focus {
  background-color: rgba(202, 44, 255, 0.762);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  margin: 10px;
  padding: 5px 15px 5px 15px;
  width: 200px;
  outline: transparent;
  border: 1px solid rgba(202, 44, 255, 0.762);
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.247);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 20px;
}

.notification {
  margin: 20px auto 20px auto;
  width: 300px;
  text-align: center;
  font-weight: 100;
}
